## Python Project ##

In [1]:
import sqlite3 
import csv 

con = sqlite3.connect('Project.db')
cursor = con.cursor()

In [ ]:
create_table = """CREATE TABLE career(
                        field_of_study TEXT,
                        current_occupation TEXT,
                        age INT,
                        gender TEXT,
                        years_of_experience INT,
                        education_level TEXT,
                        industry_growth_rate TEXT,
                        job_satisfaction INT,
                        work_life_balance INT,
                        job_opportunities INT,
                        salary INT,
                        job_security INT,
                        career_change_interest BOOLEAN,
                        skills_gap INT,
                        family_influence TEXT,
                        mentorship_available BOOLEAN,
                        certifications BOOLEAN,
                        freelancing experience BOOLEAN,
                        geographic_mobility BOOLEAN,
                        professional_networks INT,
                        career_change_events INT,
                        technology_adoption INT,
                        likely_to_change_occupation BOOLEAN);
                """

cursor.execute(create_table)

In [3]:
import sqlite3

# Connect to the database (or create it if it doesn't exist)
connection = sqlite3.connect("career_database.db")
cursor = connection.cursor()

# Check if the table exists
cursor.execute("""
SELECT name 
FROM sqlite_master 
WHERE type='table' AND name='career';
""")
table_exists = cursor.fetchone()

if table_exists:
    print("Table 'career' exists. Renaming it to 'career_old'.")
    # Step 1: Rename the old table
    cursor.execute("ALTER TABLE career RENAME TO career_old;")
else:
    print("Table 'career' does not exist. Proceeding to create it.")

# Step 2: Create a new table with the correct schema
cursor.execute("""
CREATE TABLE IF NOT EXISTS career (
    field_of_study TEXT,
    current_occupation TEXT,
    age INTEGER,
    gender TEXT,
    years_of_experience INTEGER,
    education_level TEXT,
    industry_growth_rate TEXT,
    job_satisfaction INTEGER,
    work_life_balance INTEGER,
    job_opportunities INTEGER,
    salary INTEGER,
    job_security INTEGER,
    career_change_interest BOOLEAN,
    skills_gap INTEGER,
    family_influence TEXT,
    mentorship_available BOOLEAN,
    certifications BOOLEAN,
    freelancing_experience BOOLEAN,
    geographic_mobility BOOLEAN,
    professional_networks INTEGER,
    career_change_events INTEGER,
    technology_adoption INTEGER,
    likely_to_change_occupation BOOLEAN
);
""")

if table_exists:
    # Step 3: Copy data from the old table to the new table
    print("Copying data from 'career_old' to the new 'career' table.")
    cursor.execute("""
    INSERT INTO career (
        field_of_study,
        current_occupation,
        age,
        gender,
        years_of_experience,
        education_level,
        industry_growth_rate,
        job_satisfaction,
        work_life_balance,
        job_opportunities,
        salary,
        job_security,
        career_change_interest,
        skills_gap,
        family_influence,
        mentorship_available,
        certifications,
        freelancing_experience,
        geographic_mobility,
        professional_networks,
        career_change_events,
        technology_adoption,
        likely_to_change_occupation
    )
    SELECT 
        field_of_study,
        current_occupation,
        age,
        gender,
        years_of_experience,
        education_level,
        industry_growth_rate,
        job_satisfaction,
        work_life_balance,
        job_opportunities,
        salary,
        job_security,
        career_change_interest,
        skills_gap,
        family_influence,
        mentorship_available,
        certifications,
        freelancing_experience,
        geographic_mobility,
        professional_networks,
        career_change_events,
        technology_adoption,
        likely_to_change_occupation
    FROM career_old;
    """)

    # Step 4: Drop the old table
    print("Dropping the old table 'career_old'.")
    cursor.execute("DROP TABLE career_old;")

# Commit the changes and close the connection
connection.commit()
connection.close()

print("Table creation or modification completed successfully.")

Table 'career' exists. Renaming it to 'career_old'.
Copying data from 'career_old' to the new 'career' table.
Dropping the old table 'career_old'.
Table creation or modification completed successfully.

In [10]:
import sqlite3
import csv

# Open a connection to the database
connection = sqlite3.connect(r"C:\Users\User\Python_Project\career_database.db")
cursor = connection.cursor()

# Open the CSV file and insert rows into the database
with open(r"C:\Users\User\Python_Project\career_change_prediction_dataset.csv", encoding='utf8') as f:
    data = csv.reader(f)
    for row in data:
        if row[0] == 'Title':  # Skip the header row
            continue
        cursor.execute(
            """
            INSERT INTO career (
                field_of_study, current_occupation, age, gender, years_of_experience,
                education_level, industry_growth_rate, job_satisfaction, work_life_balance,
                job_opportunities, salary, job_security, career_change_interest, skills_gap,
                family_influence, mentorship_available, certifications, freelancing_experience,
                geographic_mobility, professional_networks, career_change_events, technology_adoption,
                likely_to_change_occupation
            ) VALUES (?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?)
            """,
            tuple(row)  # Pass all columns from the CSV row
        )

# Commit the changes and close the database connection
connection.commit()
connection.close()

print("Data has been successfully inserted into the career table.")

Data has been successfully inserted into the career table.

In [9]:
import pathlib 

base_path = pathlib.Path(r"C:\Users\User\Python_Project")
db_name = "career_database.db"
db_path = base_path / db_name
print(db_path)

C:\Users\User\Python_Project\career_database.db

In [11]:
from flask import Flask, render_template
import sqlite3

app = Flask(__name__)

DATABASE = "career_database.db"  # Update this with the correct path to your SQLite database

@app.route('/home')
def homepage():
    return render_template('home.html')

@app.route('/about')
def about():
    return render_template('about.html')

@app.route('/data')
def data():
    con = sqlite3.connect(DATABASE)
    cursor = con.cursor()
    data = cursor.execute("SELECT * FROM career LIMIT 100").fetchall()
    con.close()
    return render_template('data.html', data=data)

if __name__ == '__main__':
    app.run(debug=True)

 * Serving Flask app '__main__'
 * Debug mode: on

WARNING: This is a development server. Do not use it in a production deployment. Use a production WSGI server instead.
 * Running on http://127.0.0.1:5000
Press CTRL+C to quit
 * Restarting with stat

SystemExit: 1